* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1532px) and (max-width: 1698.99px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  background: #0E0C31;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  scrollbar-color: #FFFFFF;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #F631BA;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 2px;
  margin: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
  text-decoration: none;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

main {
  position: relative;
}

main::before {
  content: url("../img/spiral.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0E0C31;
  opacity: 0.9;
  z-index: -1;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1200px) and (max-width: 1299.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1300px) and (max-width: 1599.98px) {
  .container {
    max-width: 80rem;
  }
}

@media (min-width: 1600px) and (max-width: 2499.99px) {
  .container {
    max-width: 95rem;
  }
}

@media (min-width: 2500px) {
  .container {
    max-width: 90rem;
  }
}

.yellow {
  color: #FBD852;
}

.pink {
  color: #F631BA;
}

.main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  background-color: #FBD852;
  text-transform: uppercase;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  padding: 0.3rem 1.5625rem;
  min-height: 2.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: capitalize;
  text-shadow: none;
  border-radius: 1.875rem;
  border: none;
  margin: 0;
}

.main__btn:hover {
  background-color: #F631BA;
  color: #FFFFFF;
}

.header {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.5s ease 0s;
}

.header__content #brand {
  width: 10.375rem;
  height: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content ul li {
  margin-right: 0.5rem;
}

.header__content ul li a {
  color: #FFFFFF;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__content ul li a .telegram {
  width: 1.65rem;
  height: auto;
}

.header__content ul li a .twitter {
  width: 1.75rem;
  height: auto;
}

.header__content ul li a .medium {
  width: 2rem;
  height: auto;
}

.sticky {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 0px 0.1875rem 0.375rem #0E0C31;
          box-shadow: 0px 0.1875rem 0.375rem #0E0C31;
  background: #0E0C31;
}

@media (min-width: 992px) {
  .sticky #brand {
    width: 7rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .sticky ul li a {
    font-family: "Comfortaa", sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: normal;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .sticky ul li button {
    font-size: 0.85rem;
    padding: 0.3rem 1.25rem;
    min-height: 2rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.homeHero {
  padding: 8.5rem 0;
  position: relative;
}

.homeHero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeHero__content__left {
  padding-right: 2rem;
}

.homeHero__content__left img {
  width: 100%;
  height: auto;
}

.homeHero__content__left h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: 3.3125rem;
  font-weight: 300;
  line-height: normal;
  margin: 1.5rem 0;
}

@media (max-width: 575.98px) {
  .homeHero__content__left h1 {
    font-size: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .homeHero__content__left h1 {
    font-size: 2.5rem;
  }
}

.homeHero__content__left h1 span {
  font-weight: 400;
}

.homeHero__content__left p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 1rem 0 2.5rem;
}

.homeHero .shape {
  position: absolute;
  bottom: -11rem;
  width: 100%;
}

.features {
  position: relative;
  padding-top: 5rem;
}

.features__intro {
  margin-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .features__intro {
    margin-bottom: 32px;
  }
}

.features__intro h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  text-transform: capitalize;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

@media (max-width: 767.98px) {
  .features__intro h2 {
    font-size: 36px;
  }
}

.features__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__contents .item {
  width: 22%;
  text-align: center;
  margin: 0 1rem;
  margin-bottom: 3rem;
  position: relative;
}

@media (max-width: 575.98px) {
  .features__contents .item {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .features__contents .item {
    width: 40%;
  }
}

.features__contents .item img {
  width: 5.8288rem;
  height: auto;
  margin-bottom: 2.5rem;
}

@media (max-width: 575.98px) {
  .features__contents .item img {
    width: 6rem;
    height: 6rem;
  }
}

.features__contents .item h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.features__contents .item p {
  font-family: "Comfortaa", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.features__contents .item::before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #568aaa), to(#0E0C31));
  background: linear-gradient(0deg, #568aaa 15%, #0E0C31 100%);
  -webkit-filter: blur(2rem);
          filter: blur(2rem);
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  z-index: -1;
}

@media (max-width: 575.98px) {
  .features__contents .item::before {
    top: 0;
  }
}

.about {
  padding: 10rem 0 0 0;
  position: relative;
  z-index: 1;
}

.about__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .about__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__contents__left {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991.98px) {
  .about__contents__left {
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about__contents__left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__contents__left__img__flip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.about__contents__left__img__flip .front, .about__contents__left__img__flip .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about__contents__left__img__flip .front img {
  cursor: pointer;
  width: 13.125rem;
  height: 13.125rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.75rem;
}

@media (max-width: 575.98px) {
  .about__contents__left__img__flip .front img {
    margin: 0.35rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .about__contents__left__img__flip .front img {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 320px) {
  .about__contents__left__img__flip .front img {
    width: 11rem;
    height: 11rem;
  }
}

.about__contents__left__img__flip .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: linear-gradient(6deg, #FBD852 20.13%, #F631BA);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
}

.about__contents__left__img__flip .back img {
  width: 7.0144rem;
  height: auto;
}

.about__contents__left__img:hover .about__contents__left__img__flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}

.about__contents__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-left: 1rem;
}

@media (max-width: 991.98px) {
  .about__contents__right {
    padding-left: 0;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about__contents__right {
    padding-left: 0;
  }
}

.about__contents__right__text h6 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.about__contents__right__text h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.75rem;
  padding: 0 0 1.5rem 0;
}

@media (max-width: 575.98px) {
  .about__contents__right__text h2 {
    font-size: 2.125rem;
  }
}

@media (max-width: 320px) {
  .about__contents__right__text h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about__contents__right__text h2 {
    font-size: 2rem;
  }
}

.about p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

.faq {
  padding: 10rem 0 0 0;
  position: relative;
}

@media (max-width: 767.98) {
  .faq {
    padding: 30px 0 30px 0;
  }
}

.faq__intro {
  margin-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .faq__intro {
    margin-bottom: 32px;
  }
}

.faq__intro h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  text-transform: capitalize;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

@media (max-width: 767.98px) {
  .faq__intro h2 {
    font-size: 36px;
  }
}

.faq__accordions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
}

@media (max-width: 479.98px) {
  .faq__accordions ul {
    gap: 1.25rem;
  }
}

.faq__accordions ul li {
  cursor: pointer;
  position: relative;
}

@media (max-width: 479.98px) {
  .faq__accordions ul li {
    border-radius: 1.5rem;
  }
}

.faq__accordions ul li::before {
  content: "";
  position: absolute;
  background: linear-gradient(40deg, rgba(161, 198, 221, 0.5), rgba(161, 198, 221, 0.225));
  -webkit-filter: blur(1);
          filter: blur(1);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
}

.faq__accordions ul li button {
  border-radius: 0.9375rem;
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 60px;
  width: 100%;
  position: relative;
  border: none;
}

@media (max-width: 767.98px) {
  .faq__accordions ul li button {
    padding: 30px;
  }
}

@media (max-width: 479.98px) {
  .faq__accordions ul li button {
    padding: 20px;
  }
}

.faq__accordions ul li button .accordions__title {
  color: #FBD852;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: capitalize;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 120%;
  padding-right: 1.25rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

@media (max-width: 767.98px) {
  .faq__accordions ul li button .accordions__title {
    font-size: 20px;
  }
}

.faq__accordions ul li button .accordions__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  border: 2px #F631BA solid;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
}

@media (max-width: 479.98px) {
  .faq__accordions ul li button .accordions__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
            flex: 0 0 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
  }
}

.faq__accordions ul li button .accordions__icon::before {
  content: "";
  width: 1.125rem;
  height: 0.125rem;
  background-color: #F631BA;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 479.98px) {
  .faq__accordions ul li button .accordions__icon::before {
    width: 15px;
    height: 2px;
  }
}

.faq__accordions ul li button .accordions__icon::after {
  content: "";
  width: 1.125rem;
  height: 0.125rem;
  background-color: #F631BA;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

@media (max-width: 479.98px) {
  .faq__accordions ul li button .accordions__icon::after {
    width: 15px;
    height: 2px;
  }
}

.faq__accordions ul li .accordions__text {
  padding: 0 60px 0 60px;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  z-index: 5;
}

@media (max-width: 767.98px) {
  .faq__accordions ul li .accordions__text {
    padding: 0 30px 0 30px;
  }
}

@media (max-width: 479.98px) {
  .faq__accordions ul li .accordions__text {
    padding: 0 20px 0 20px;
  }
}

.faq__accordions ul li .accordions__text P {
  color: #FFFFFF;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

@media (max-width: 479.98px) {
  .faq__accordions ul li .accordions__text P {
    font-size: 16px;
  }
}

.faq__accordions ul .open .accordions__text {
  padding: 0 3.75rem 1.25rem 3.75rem;
}

@media (max-width: 767.98px) {
  .faq__accordions ul .open .accordions__text {
    padding: 20px 30px;
  }
}

@media (max-width: 479.98px) {
  .faq__accordions ul .open .accordions__text {
    padding: 0px 20px 20px 20px;
  }
}

.faq__accordions ul .open .accordions__icon {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.contact {
  padding: 10rem 0 0 0;
}

.contact__intro {
  text-align: center;
  margin-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .contact__intro {
    margin-bottom: 32px;
  }
}

.contact__intro h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  text-transform: capitalize;
  padding: 0 0.5rem 1rem 0.5rem;
  text-align: center;
}

@media (max-width: 767.98px) {
  .contact__intro h2 {
    font-size: 36px;
  }
}

.contact__intro p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

.contact__contents {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 4rem 1rem;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .contact__contents {
    width: 100%;
    padding: 5rem 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 1299.98px) {
  .contact__contents {
    width: 100%;
    padding: 5rem;
  }
}

.contact__contents::before {
  content: "";
  position: absolute;
  background: linear-gradient(40deg, rgba(161, 198, 221, 0.5) 0%, rgba(161, 198, 221, 0.225) 100%);
  -webkit-filter: blur(1);
          filter: blur(1);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
}

.contact__contents__left h6 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.contact__contents__left p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0 auto;
}

@media (max-width: 1299.98px) {
  .contact__contents__left p {
    width: 100%;
  }
}

.contact__contents__left form {
  padding: 2rem 0 1rem 0;
  width: 92%;
}

.contact__contents__left form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__contents__left form .fields input, .contact__contents__left form .fields textarea {
  width: 100%;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  color: #FFFFFF;
  padding: 0.85rem 1.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
}

@media (max-width: 575.98px) {
  .contact__contents__left form .fields input, .contact__contents__left form .fields textarea {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1299.98px) {
  .contact__contents__left form .fields input, .contact__contents__left form .fields textarea {
    width: 80%;
  }
}

.contact__contents__left form .fields textarea {
  border-radius: 1.85rem;
  padding: 0.95rem 1.5rem;
}

.contact__contents__left form .fields ::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__left form .fields :-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__left form .fields ::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__left form .fields ::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__right .thumb {
  width: 36.9375rem;
  height: auto;
}

.contact__contents__right ul {
  padding-top: 1rem;
}

.contact__contents__right ul li {
  margin: 1rem 0;
}

.contact__contents__right ul li span {
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.contact__contents__right ul li img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.45rem;
}

.footer {
  position: relative;
  overflow: hidden;
  padding: 2rem 0 12rem 0;
}

@media (max-width: 991.98px) {
  .footer {
    padding-bottom: 7rem;
  }
}

.footer__links {
  padding: 2rem 0;
}

.footer__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links ul li {
  margin: 0 0.5rem;
}

.footer__links ul li a {
  font-size: 0.75rem;
  color: #FFFFFF;
}

.footer__links__top {
  margin-bottom: 0.5rem;
}

.footer__links__top li a {
  font-weight: 600;
}

.footer__links__below {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__links__below li {
  margin: 1rem 1rem 0.25rem 1rem !important;
}

@media (max-width: 575.98px) {
  .footer__links__below li {
    margin: 0.5rem 0.5rem 0.25rem 0.5rem !important;
  }
}

.footer__links__below li a {
  font-weight: 400;
  opacity: 0.5;
}

.footer__payments {
  padding: 2rem 0;
  text-align: center;
}

.footer__payments p {
  font-size: 0.75rem;
  font-weight: 600;
  color: #0E0C31;
  padding-bottom: 2rem;
}

.footer__payments .show {
  font-size: 0.625rem;
  color: #0E0C31;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.footer__payments ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.footer__payments ul li {
  margin: 0 1rem;
}

.footer__payments ul li a {
  font-size: 0.75rem;
  color: #FFFFFF;
}

.footer__payments__top__row {
  margin-bottom: 0.75rem;
}

.footer__payments__top__row .secure {
  margin: 0 1rem;
}

.footer__payments__top__row .secure li img {
  width: 5.0681rem;
  height: 2.3462rem;
}

@media (max-width: 575.98px) {
  .footer__payments__top__row .secure li img {
    width: 4rem;
  }
}

.footer__payments__top__row .best {
  width: 95%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 575.98px) {
  .footer__payments__top__row .best {
    width: 100%;
  }
}

.footer__payments__top__row .best li img {
  width: 7.1787rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .footer__payments__top__row .best li img {
    width: 5.5rem;
  }
}

.footer__content {
  text-align: center;
  color: #656D7D;
  padding-top: 2rem;
}

.footer__content img {
  width: 3.75rem;
  height: auto;
}

.footer__content h5 {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.footer__content p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.footer__content p span {
  color: #0E0C31;
}

@media (max-width: 991.98px) {
  .footer__content p span {
    display: block;
  }
}

.footer .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social-icons ul li {
  margin-right: 1.5rem;
}

.footer .social-icons ul li a img {
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.footer .social-icons ul li a img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
/*# sourceMappingURL=style.css.map */