* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1532px) and (max-width: 1698.99px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #0E0C31;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  scrollbar-color: #FFFFFF;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #FBD852;
  border-radius: 2px;
  margin: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #FBD852;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
  text-decoration: none;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

main {
  position: relative;
}

main::before {
  overflow: hidden;
  content: url("../img/spiral.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0E0C31;
  opacity: 0.9;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 100% !important;
  padding: 0 13rem;
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .container {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .container {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .container {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }
}

@media (min-width: 1532px) and (max-width: 1698.99px) {
  .container {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
  }
}

@media (min-width: 2500px) {
  .container {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
  }
}

.navbar {
  padding: 1rem 0;
}

.yellow {
  color: #FBD852;
}

.pink {
  color: #F631BA;
}

.main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  background-color: #FBD852;
  text-transform: uppercase;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  padding: 0.3rem 1.25rem;
  min-height: 2.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: capitalize;
  text-shadow: none;
  border-radius: 1.875rem;
  border: none;
  margin: 0;
}

.main__btn:hover {
  background-color: #F631BA;
  color: #FFFFFF;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 1rem 0;
}

@media (max-width: 991.98px) {
  .header {
    padding: 0;
  }
}

.header .header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .header .header-contents {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .header-contents .logo {
  width: 10.375rem;
  height: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header .header-contents .nav-right {
  width: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .header .header-contents .nav-right {
    display: none;
  }
}

.header .header-contents .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-contents .nav-right ul li {
  margin-right: 0.5rem;
}

.header .header-contents .nav-right ul li a {
  color: #FFFFFF;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header-contents .mobile-design .nav-toggle {
  z-index: 9000;
  cursor: pointer;
  padding-right: 1rem;
}

.header .header-contents .mobile-design .nav-toggle .top {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-bottom: 0.35rem;
}

.header .header-contents .mobile-design .nav-toggle .mid {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-bottom: 0.35rem;
  position: relative;
}

.header .header-contents .mobile-design .nav-toggle .bot {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header .header-contents .mobile-design .nav-toggle .top, .header .header-contents .mobile-design .nav-toggle .bot {
  -webkit-transform-origin: 0.1875rem 0.125rem;
          transform-origin: 0.1875rem 0.125rem;
}

.header .header-contents .mobile-design .nav-full ul {
  position: absolute;
  width: 70%;
  background-color: #151339;
  top: 0;
  right: -100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10vh)[5];
      grid-template-rows: repeat(5, 10vh);
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-align: center;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .header .header-contents .mobile-design .nav-full ul {
    width: 50%;
  }
}

.header .header-contents .mobile-design .nav-full ul li a {
  text-align: center;
  font-size: 1.25rem;
  color: #FFFFFF;
}

.header .header-contents .mobile-design .nav-full ul li:last-child a {
  border: 0.125rem solid #FFFFFF;
  padding: 0.75rem 1.75rem;
  border-radius: 1.75rem;
}

.open .mid {
  opacity: 0;
}

.open .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .bot {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.open .nav-full ul {
  right: 0 !important;
}

.open .nav-full ul a {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}

.sticky {
  padding: 0;
  -webkit-box-shadow: 0px 0.1875rem 0.375rem #0E0C31;
          box-shadow: 0px 0.1875rem 0.375rem #0E0C31;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: #0E0C31;
}

.sticky .header-contents .logo {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.sticky .header-contents .nav-right {
  width: 40%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sticky .header-contents .nav-right ul li a {
  font-size: 1rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.desktop-hidden {
  display: none;
}

@media (max-width: 991.98px) {
  .desktop-hidden {
    display: inherit;
  }
}

.hero {
  padding: 10rem 0 8.5rem 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .hero {
    padding-bottom: 4rem;
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__content__left {
  padding-right: 2rem;
}

.hero__content__left h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: 3.3125rem;
  font-weight: 300;
  line-height: normal;
  margin: 1.5rem 0;
}

@media (max-width: 575.98px) {
  .hero__content__left h1 {
    font-size: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__content__left h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .hero__content__left h1 {
    font-size: 2.5rem;
  }
}

.hero__content__left h1 span {
  font-weight: 400;
}

.hero__content__left p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 1rem 0 2.5rem;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .hero__content__left p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.hero__content__right img {
  width: 34.125rem;
  height: auto;
}

.hero .shape {
  position: absolute;
  bottom: -11rem;
  width: 100%;
}

.gallery {
  padding: 4rem 0 6rem 0;
  position: relative;
}

.gallery .container {
  padding-right: 0 !important;
}

.gallery__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.gallery__intro h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  padding-bottom: 1rem;
}

@media (max-width: 991.98px) {
  .gallery__intro h2 {
    font-size: 1.5rem;
  }
}

.gallery .btnArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#F631BA), to(#FBD852)) !important;
  background: linear-gradient(180deg, #F631BA 0%, #FBD852 100%) !important;
  padding: 0.1875rem;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  color: #0E0C31;
  cursor: pointer;
}

.gallery__content {
  padding: 2rem 0;
  position: relative;
}

.gallery__content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5rem;
  background: -webkit-gradient(linear, right top, left top, color-stop(0.9%, #30496b), to(rgba(20, 55, 98, 0)));
  background: linear-gradient(270deg, #30496b 0.9%, rgba(20, 55, 98, 0));
  z-index: 2;
}

.gallery__content__slider .controls {
  display: block;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
}

.gallery__content__slider .controls button img {
  width: 0.4825rem;
  height: auto;
}

.gallery__content__slider .controls__prev {
  margin-bottom: 0.5rem;
}

.gallery__content__slider .controls__prev button img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gallery__content__slider .controls__next {
  margin-top: 0.5rem;
}

.gallery__content__slider .controls .swiper-button-disabled {
  opacity: 0.25;
}

.gallery__content__slider .gallerySlider__single {
  position: relative;
  width: 13rem;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-right: 1rem;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  width: 30rem;
  min-height: auto;
  cursor: pointer;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

@media (max-width: 575.98px) {
  .gallery__content__slider .gallerySlider__single {
    margin-right: 0;
  }
}

.gallery__content__slider .gallerySlider__single__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__content__slider .gallerySlider__single__img img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  opacity: 1;
}

.gallery__content__slider .gallerySlider__single__content {
  position: relative;
  z-index: 1;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0.625rem;
  padding: 1.25rem 1.25rem 0 1.25rem;
  position: absolute;
  min-height: 13.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery__content__slider .gallerySlider__single__content h4 {
  font-size: 0.875rem;
  font-weight: 400;
  padding-bottom: 3.5rem;
  padding-top: 1rem;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.gallery__content__slider .gallerySlider__single__content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery__content__slider .gallerySlider__single__content .left img {
  width: 11.25rem;
  height: auto;
}

.gallery__content__slider .gallerySlider__single__content .right {
  width: 12.25rem;
  height: 12.25rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEE600), to(#F39900));
  background: linear-gradient(180deg, #FEE600 0%, #F39900 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__content__slider .gallerySlider__single__content .right h5 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery__content__slider .gallerySlider__single__content .right h5 span {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 70%;
}

.gallery__content__slider .gallerySlider__single__content .right h6 {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  padding-top: 1.5rem;
}

.gallery .green {
  background: linear-gradient(17deg, rgba(11, 115, 56, 0.75) 14.33%, rgba(168, 255, 121, 0.85) 80.95%);
}

.gallery .green .right {
  background: -webkit-gradient(linear, left top, left bottom, from(#FEE600), to(#F39900));
  background: linear-gradient(180deg, #FEE600 0%, #F39900 100%);
  color: #00802A;
}

.gallery .blue {
  background: linear-gradient(6deg, rgba(0, 87, 153, 0.75) 20.13%, rgba(68, 175, 255, 0.85) 91.36%);
}

.gallery .blue .right {
  background: -webkit-gradient(linear, left top, left bottom, from(#F13E39), to(#870000));
  background: linear-gradient(180deg, #F13E39 0%, #870000 100%);
  color: #FFFFFF;
}

.gallery .pink {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(6.19%, rgba(179, 0, 116, 0.75)), color-stop(70.86%, rgba(241, 79, 184, 0.85)));
  background: linear-gradient(0deg, rgba(179, 0, 116, 0.75) 6.19%, rgba(241, 79, 184, 0.85) 70.86%);
}

.gallery .pink .right {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4CB00), color-stop(43.29%, #E37A3C), to(#CD108A));
  background: linear-gradient(180deg, #F4CB00 0%, #E37A3C 43.29%, #CD108A 100%);
  color: #131313;
}

.features {
  position: relative;
  padding-top: 5rem;
}

.features__intro {
  margin-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .features__intro {
    margin-bottom: 2rem;
  }
}

.features__intro h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  text-transform: capitalize;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

@media (max-width: 575.98px) {
  .features__intro h2 {
    font-size: 1.5rem;
    list-style: 2.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .features__intro h2 {
    font-size: 1.25rem;
  }
}

.features__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__contents .item {
  width: 22%;
  text-align: center;
  margin: 0 1rem;
  margin-bottom: 3rem;
  position: relative;
}

@media (max-width: 575.98px) {
  .features__contents .item {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .features__contents .item {
    width: 45%;
  }
}

.features__contents .item img {
  width: 5.8288rem;
  height: 5.1356rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 575.98px) {
  .features__contents .item img {
    width: 6rem;
    height: 6rem;
  }
}

.features__contents .item h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  padding-bottom: 1rem;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .features__contents .item h2 {
    font-size: 1.25rem;
    padding-bottom: 0.75rem;
  }
}

.features__contents .item p {
  font-family: "Comfortaa", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.25rem;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .features__contents .item p {
    font-size: 0.75rem;
  }
}

.features__contents .item::before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #568aaa), to(#0E0C31));
  background: linear-gradient(0deg, #568aaa 15%, #0E0C31 100%);
  -webkit-filter: blur(2rem);
          filter: blur(2rem);
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  z-index: -1;
}

@media (max-width: 575.98px) {
  .features__contents .item::before {
    top: 0;
  }
}

.about {
  padding: 10rem 0 5rem 0;
  position: relative;
  z-index: 1;
}

.about__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .about__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__contents__left {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 575.98px) {
  .about__contents__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
}

@media (max-width: 991.98px) {
  .about__contents__left {
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about__contents__left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__contents__left__img__flip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.about__contents__left__img__flip .front, .about__contents__left__img__flip .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about__contents__left__img__flip .front img {
  cursor: pointer;
  width: 13.125rem;
  height: 13.125rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.75rem;
}

@media (max-width: 575.98px) {
  .about__contents__left__img__flip .front img {
    width: 13.125rem;
    height: 13.125rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about__contents__left__img__flip .front img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about__contents__left__img__flip .front img {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .about__contents__left__img__flip .front img {
    width: 12rem;
    height: 12rem;
  }
}

@media (min-width: 1532px) and (max-width: 1698.99px) {
  .about__contents__left__img__flip .front img {
    width: 12rem;
    height: 12rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .about__contents__left__img__flip .front img {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 320px) {
  .about__contents__left__img__flip .front img {
    width: 11rem;
    height: 11rem;
  }
}

@media (min-width: 2500px) {
  .about__contents__left__img__flip .front img {
    width: 14rem;
    height: 14rem;
  }
}

.about__contents__left__img__flip .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: linear-gradient(6deg, #FBD852 20.13%, #F631BA);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
}

.about__contents__left__img__flip .back img {
  width: 7.0144rem;
  height: auto;
}

.about__contents__left__img:hover .about__contents__left__img__flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}

.about__contents__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-left: 1rem;
}

@media (max-width: 991.98px) {
  .about__contents__right {
    padding-left: 0;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about__contents__right {
    padding-left: 0;
  }
}

.about__contents__right__text h6 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.about__contents__right__text h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.75rem;
  padding: 0 0 1.5rem 0;
}

@media (max-width: 575.98px) {
  .about__contents__right__text h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

@media (max-width: 320px) {
  .about__contents__right__text h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about__contents__right__text h2 {
    font-size: 2rem;
  }
}

.about p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

.faq {
  padding: 10rem 0 10rem 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .faq {
    padding: 5rem 0 5rem 0;
  }
}

.faq__intro {
  margin-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .faq__intro {
    margin-bottom: 2rem;
  }
}

.faq__intro h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  text-transform: capitalize;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

@media (max-width: 991.98px) {
  .faq__intro h2 {
    font-size: 1.75rem;
  }
}

.faq__accordions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
}

@media (max-width: 479.98px) {
  .faq__accordions ul {
    gap: 1.25rem;
  }
}

.faq__accordions ul li {
  cursor: pointer;
  position: relative;
}

@media (max-width: 479.98px) {
  .faq__accordions ul li {
    border-radius: 1.5rem;
  }
}

.faq__accordions ul li::before {
  content: "";
  position: absolute;
  background: linear-gradient(40deg, rgba(161, 198, 221, 0.5), rgba(161, 198, 221, 0.225));
  -webkit-filter: blur(1);
          filter: blur(1);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1.25rem;
}

.faq__accordions ul li button {
  border-radius: 0.9375rem;
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 3.75rem;
  width: 100%;
  position: relative;
  border: none;
}

@media (max-width: 575.98px) {
  .faq__accordions ul li button {
    padding: 1.75rem 2.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .faq__accordions ul li button {
    padding: 1.75rem 2.5rem;
  }
}

.faq__accordions ul li button .accordions__title {
  color: #FBD852;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: capitalize;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1.25rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

@media (max-width: 991.98px) {
  .faq__accordions ul li button .accordions__title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.faq__accordions ul li button .accordions__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem #F631BA solid;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
}

@media (max-width: 479.98px) {
  .faq__accordions ul li button .accordions__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2rem;
            flex: 0 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2rem;
    height: 2rem;
  }
}

.faq__accordions ul li button .accordions__icon::before {
  content: "";
  width: 1.125rem;
  height: 0.125rem;
  background-color: #F631BA;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 479.98px) {
  .faq__accordions ul li button .accordions__icon::before {
    width: 0.9375rem;
    height: 0.125rem;
  }
}

.faq__accordions ul li button .accordions__icon::after {
  content: "";
  width: 1.125rem;
  height: 0.125rem;
  background-color: #F631BA;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

@media (max-width: 479.98px) {
  .faq__accordions ul li button .accordions__icon::after {
    width: 0.9375rem;
    height: 0.125rem;
  }
}

.faq__accordions ul li .accordions__text {
  padding: 0 3.75rem;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  z-index: 5;
}

@media (max-width: 575.98px) {
  .faq__accordions ul li .accordions__text {
    padding: 0 2.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .faq__accordions ul li .accordions__text {
    padding: 0 2.5rem;
  }
}

.faq__accordions ul li .accordions__text P {
  color: #FFFFFF;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

@media (max-width: 991.98px) {
  .faq__accordions ul li .accordions__text P {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.faq__accordions ul .open .accordions__text {
  padding-bottom: 2rem;
}

@media (max-width: 991.98px) {
  .faq__accordions ul .open .accordions__text {
    padding-bottom: 1.25rem;
  }
}

.faq__accordions ul .open .accordions__icon {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.contact {
  padding: 10rem 0 0 0;
  position: relative;
}

.contact__intro {
  text-align: center;
  margin-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .contact__intro {
    margin-bottom: 2rem;
  }
}

.contact__intro h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  text-transform: capitalize;
  padding: 0 0.5rem 1rem 0.5rem;
  text-align: center;
}

@media (max-width: 991.98px) {
  .contact__intro h2 {
    font-size: 1.75rem;
  }
}

.contact__intro p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

@media (max-width: 991.98px) {
  .contact__intro p {
    font-size: 1.25rem;
  }
}

.contact__contents {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 4rem 1rem;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .contact__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .contact__contents {
    width: 100%;
    padding: 4rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .contact__contents {
    padding: 4rem;
  }
}

.contact__contents::before {
  content: "";
  position: absolute;
  background: linear-gradient(40deg, rgba(161, 198, 221, 0.5) 0%, rgba(161, 198, 221, 0.225) 100%);
  -webkit-filter: blur(1);
          filter: blur(1);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
}

.contact__contents__left h6 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

@media (max-width: 991.98px) {
  .contact__contents__left h6 {
    font-size: 1.25rem;
    padding-bottom: 0.75rem;
  }
}

.contact__contents__left p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .contact__contents__left p {
    font-size: 1rem;
  }
}

@media (max-width: 1299.98px) {
  .contact__contents__left p {
    width: 100%;
  }
}

.contact__contents__left form {
  padding: 2rem 0 1rem 0;
  width: 92%;
}

@media (max-width: 991.98px) {
  .contact__contents__left form {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .contact__contents__left form {
    width: 100%;
  }
}

.contact__contents__left form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__contents__left form .fields input, .contact__contents__left form .fields textarea {
  width: 100%;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  color: #FFFFFF;
  padding: 0.85rem 1.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
}

@media (max-width: 991.98px) {
  .contact__contents__left form .fields input, .contact__contents__left form .fields textarea {
    width: 100%;
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .contact__contents__left form .fields input, .contact__contents__left form .fields textarea {
    width: 80%;
  }
}

.contact__contents__left form .fields textarea {
  border-radius: 1.85rem;
  padding: 0.95rem 1.5rem;
}

.contact__contents__left form .fields ::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__left form .fields :-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__left form .fields ::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__left form .fields ::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__right .thumb {
  width: 36.9375rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .contact__contents__right .thumb {
    width: 100%;
    padding-top: 4rem;
  }
}

.contact__contents__right ul {
  padding-top: 1rem;
}

.contact__contents__right ul li {
  margin: 1rem 0;
}

.contact__contents__right ul li span {
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.contact__contents__right ul li img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.45rem;
}

.footer {
  position: relative;
  overflow: hidden;
  padding: 2rem 0 2rem 0;
}

.footer__quick {
  padding: 10rem 0 0 0;
  border-bottom: 0.0313rem solid dimgray;
}

.footer__quick ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.footer__quick ul li {
  margin: 0 1.5rem;
}

.footer__quick ul li a {
  font-family: "Comfortaa", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #FFFFFF;
}

.footer__quick img {
  width: 7.0144rem;
  height: auto;
}

.footer__links {
  padding: 2rem 0 1rem 0;
}

.footer__links .social-icons .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.footer__links .social-icons .copyright h6 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.footer__links .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links .social-icons ul li {
  margin-right: 1rem;
}

.footer__links .social-icons ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.footer__links .social-icons p {
  font-family: "Comfortaa", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: #C2C2C2;
}
/*# sourceMappingURL=style.css.map */