* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1532px) and (max-width: 1698.99px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  background: #0E0C31;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  scrollbar-color: #FFFFFF;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #FBD852;
  border-radius: 2px;
  margin: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #FBD852;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
  text-decoration: none;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

main {
  position: relative;
}

main::before {
  overflow: hidden;
  content: url("../src/assets/img/spiral.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0E0C31;
  opacity: 0.9;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 100% !important;
  padding: 0 13rem;
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .container {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .container {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .container {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}

@media (min-width: 1532px) and (max-width: 1698.99px) {
  .container {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
  }
}

@media (min-width: 2500px) {
  .container {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
  }
}

.navbar {
  padding: 1rem 0;
}

.yellow {
  color: #FBD852;
}

.pink {
  color: #F631BA;
}

.main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
  background-color: #FBD852;
  text-transform: uppercase;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  padding: 0.5rem 1.25rem;
  min-height: 2.25rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: capitalize;
  text-shadow: none;
  border-radius: 1.875rem;
  border: none;
  margin: 0;
}

.main__btn:hover {
  background-color: #F631BA;
  color: #FFFFFF;
}

.btn2 {
  background-color: #FFFFFF;
  font-size: 1rem;
}

.navBtn {
  color: #131313 !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 1rem 0;
}

@media (max-width: 991.98px) {
  .header {
    padding: 0.125rem 0;
  }
}

.header .header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .header .header-contents {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .header-contents .logo {
  width: 10.375rem;
  height: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header-contents .nav-right {
  width: 70%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .header .header-contents .nav-right {
    display: none;
  }
}

.header .header-contents .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-contents .nav-right ul li {
  margin-right: 0.5rem;
}

.header .header-contents .nav-right ul li a {
  color: #FFFFFF;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header-contents .mobile-design .nav-toggle {
  z-index: 9000;
  cursor: pointer;
  padding-right: 1rem;
}

.header .header-contents .mobile-design .nav-toggle .top {
  display: block;
  width: 1.625rem;
  height: 0.15rem;
  background-color: #FBD852;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-bottom: 0.35rem;
}

.header .header-contents .mobile-design .nav-toggle .mid {
  display: block;
  width: 1.625rem;
  height: 0.15rem;
  background-color: #FBD852;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-bottom: 0.35rem;
  position: relative;
}

.header .header-contents .mobile-design .nav-toggle .bot {
  display: block;
  width: 1.625rem;
  height: 0.15rem;
  background-color: #FBD852;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header .header-contents .mobile-design .nav-toggle .top, .header .header-contents .mobile-design .nav-toggle .bot {
  -webkit-transform-origin: 0.15rem 0.125rem;
          transform-origin: 0.15rem 0.125rem;
}

.header .header-contents .mobile-design .nav-full {
  position: absolute;
  width: 100%;
  background-color: #151339;
  top: 0;
  left: -100%;
  height: 100vh;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .header .header-contents .mobile-design .nav-full {
    width: 50%;
  }
}

.header .header-contents .mobile-design .nav-full ul {
  position: absolute;
  padding: 2.5rem 0 0 2.75rem;
}

.header .header-contents .mobile-design .nav-full ul li {
  margin-bottom: 2rem;
}

.header .header-contents .mobile-design .nav-full ul li a {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .header-contents .mobile-design .nav-full ul li a button {
  font-size: 1.5rem;
}

.header .header-contents .mobile-design .nav-full ul li a img {
  margin-right: 0.75rem;
}

.header .header-contents .mobile-design .nav-full .social-icons ul {
  position: absolute;
  left: 0;
  bottom: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-contents .mobile-design .nav-full .social-icons ul li {
  margin-right: 1.75rem;
}

.header .header-contents .mobile-design .nav-full .social-icons ul li a img {
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.open .mid {
  opacity: 0;
}

.open .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .bot {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.open .nav-full {
  left: 0 !important;
}

.sticky {
  padding: 0;
  -webkit-box-shadow: 0px 0.1875rem 0.375rem #0E0C31;
          box-shadow: 0px 0.1875rem 0.375rem #0E0C31;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: #0E0C31;
}

.sticky .header-contents .logo {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.sticky .header-contents .nav-right {
  width: 60%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sticky .header-contents .nav-right ul li a, .sticky .header-contents .nav-right ul li button {
  font-size: 1rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.desktop-hidden {
  display: none;
}

@media (max-width: 991.98px) {
  .desktop-hidden {
    display: inherit;
  }
}

.hero {
  padding: 10rem 0 4rem 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .hero {
    padding: 8rem 0 0 0;
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .hero__content {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__content__left {
  padding-right: 2rem;
}

@media (max-width: 991.98px) {
  .hero__content__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 2rem;
  }
}

.hero__content__left h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: 3.3125rem;
  font-weight: 700;
  line-height: normal;
  margin: 1.5rem 0;
}

@media (max-width: 575.98px) {
  .hero__content__left h1 {
    font-size: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__content__left h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .hero__content__left h1 {
    font-size: 2.5rem;
  }
}

.hero__content__left h1 span {
  font-weight: 700;
}

.hero__content__left p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 1rem 0 2.5rem;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .hero__content__left p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (max-width: 575.98px) {
  .hero__content__right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.hero__content__right img {
  width: 34.125rem;
  height: auto;
}

@media (max-width: 991.98px) {
  .hero__content__right img {
    width: 100%;
  }
}

.hero .shape {
  position: absolute;
  bottom: -11rem;
  width: 100%;
}

@media (max-width: 576px) {
  .dashboard {
    padding: 10rem 0 4rem 0;
  }
}

.gallery {
  padding: 10rem 0 3rem 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .gallery {
    padding: 7rem 0 0 0;
  }
}

@media (min-width: 576px) {
  .gallery .container {
    padding-right: 0 !important;
  }
}

.gallery__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 575.98px) {
  .gallery__intro {
    text-align: center;
  }
}

.gallery__intro h2 {
  font-family: "Barlow", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2rem;
  position: relative;
  padding-bottom: 1rem;
}

@media (max-width: 991.98px) {
  .gallery__intro h2 {
    font-size: 1.5rem;
  }
}

.gallery .btnArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#F631BA), to(#FBD852)) !important;
  background: linear-gradient(180deg, #F631BA 0%, #FBD852 100%) !important;
  padding: 0.1875rem;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  color: #0E0C31;
  cursor: pointer;
}

.gallery__content {
  padding: 1rem 0 2rem 0;
  position: relative;
}

.gallery__content__slider .gallerySlider .swiper-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}

@media (max-width: 575.98px) {
  .gallery__content__slider .gallerySlider .swiper-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .gallery__content__slider .gallerySlider .swiper-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

.gallery__content__slider .gallerySlider__single {
  position: relative;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-right: 1rem;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  min-height: auto;
  cursor: pointer;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

@media (max-width: 575.98px) {
  .gallery__content__slider .gallerySlider__single {
    margin-right: 0;
  }
}

.gallery__content__slider .gallerySlider__single__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -0.5rem;
  left: 0;
}

.gallery__content__slider .gallerySlider__single__img img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  opacity: 1;
}

.gallery__content__slider .gallerySlider__single__content {
  position: relative;
  z-index: 1;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0.625rem;
  padding: 0 1.25rem 0 1.25rem;
  min-height: 14.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__content__slider .gallerySlider__single__content h4 {
  padding-top: 0.5rem;
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .gallery__content__slider .gallerySlider__single__content h4 {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .gallery__content__slider .gallerySlider__single__content h4 {
    font-size: 1.25rem;
  }
}

.gallery__content__slider .gallerySlider__single__content h5 {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.gallery__content__slider .gallerySlider__single__content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery__content__slider .gallerySlider__single__content .left .lottoImage {
  display: block;
  width: 10rem;
  height: 4rem;
  max-width: 100%;
  background-repeat: no-repeat;
  -webkit-background-position: left;
  background-position: left;
  background-size: contain;
}

.gallery__content__slider .gallerySlider__single__content .right {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEE600), to(#F39900));
  background: linear-gradient(180deg, #FEE600 0%, #F39900 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__content__slider .gallerySlider__single__content .right h5 {
  font-family: "Barlow", sans-serif;
  font-size: 1.85rem;
  font-weight: 700;
  line-height: 100%;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery__content__slider .gallerySlider__single__content .right h5 span {
  font-family: "Barlow", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 85%;
}

.gallery__content__slider .gallerySlider__single__content .right h6 {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  padding-top: 0rem;
}

.gallery__content__slider .seeAll {
  text-align: center;
  margin-top: 2rem;
}

.gallery .yellow {
  background: linear-gradient(17deg, rgba(11, 115, 56, 0.75) 14.33%, rgba(168, 255, 121, 0.85) 80.95%);
}

.gallery .yellow .right {
  background: -webkit-gradient(linear, left top, left bottom, from(#FEE600), to(#F39900));
  background: linear-gradient(180deg, #FEE600 0%, #F39900 100%);
  color: #00802A;
}

.gallery .pink {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(6.19%, rgba(179, 0, 116, 0.75)), color-stop(70.86%, rgba(241, 79, 184, 0.85)));
  background: linear-gradient(0deg, rgba(179, 0, 116, 0.75) 6.19%, rgba(241, 79, 184, 0.85) 70.86%);
}

.gallery .pink .right {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4CB00), color-stop(43.29%, #E37A3C), to(#CD108A));
  background: linear-gradient(180deg, #F4CB00 0%, #E37A3C 43.29%, #CD108A 100%);
  color: #FFFFFF;
}

.features {
  position: relative;
  padding: 8rem 0 0 0;
}

@media (max-width: 991.98px) {
  .features {
    padding: 5rem 0 0 0;
  }
}

.features__intro {
  margin-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .features__intro {
    margin-bottom: 2rem;
  }
}

.features__intro h2 {
  font-family: "Barlow", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2rem;
  position: relative;
  text-transform: capitalize;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

@media (max-width: 575.98px) {
  .features__intro h2 {
    font-size: 1.5rem;
    list-style: 2.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .features__intro h2 {
    font-size: 1.25rem;
  }
}

.features__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__contents .item {
  width: 22%;
  text-align: center;
  margin: 0 1rem;
  margin-bottom: 3rem;
  position: relative;
}

@media (max-width: 575.98px) {
  .features__contents .item {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .features__contents .item {
    width: 45%;
  }
}

.features__contents .item img {
  width: 5.8288rem;
  height: 5.1356rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 575.98px) {
  .features__contents .item img {
    width: 6rem;
    height: 6rem;
  }
}

.features__contents .item h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  padding-bottom: 1rem;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .features__contents .item h2 {
    font-size: 1.25rem;
    padding-bottom: 0.75rem;
  }
}

.features__contents .item p {
  font-family: "Comfortaa", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.25rem;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .features__contents .item p {
    font-size: 0.75rem;
  }
}

.features__contents .item::before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #568aaa), to(#0E0C31));
  background: linear-gradient(0deg, #568aaa 15%, #0E0C31 100%);
  -webkit-filter: blur(2rem);
          filter: blur(2rem);
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  z-index: -1;
}

@media (max-width: 575.98px) {
  .features__contents .item::before {
    top: 0;
  }
}

.about {
  padding: 10rem 0 3rem 0;
  position: relative;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .about {
    padding: 5rem 0 0 0;
  }
}

.about__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 575.98px) {
  .about__contents {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .about__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__contents__left {
  width: 50%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
}

@media (max-width: 575.98px) {
  .about__contents__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    row-gap: 1rem;
  }
}

@media (max-width: 991.98px) {
  .about__contents__left {
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about__contents__left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 575.98px) {
  .about__contents__left div {
    width: 100%;
  }
}

.about__contents__left__img__flip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.about__contents__left__img__flip .front, .about__contents__left__img__flip .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about__contents__left__img__flip .front {
  width: 100%;
}

.about__contents__left__img__flip .front img {
  cursor: pointer;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 575.98px) {
  .about__contents__left__img__flip .front img {
    width: 100%;
    height: auto;
    margin: 0.75rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about__contents__left__img__flip .front img {
    width: 100%;
    height: auto;
    margin: 0.75rem;
  }
}

.about__contents__left__img__flip .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: linear-gradient(6deg, #FBD852 20.13%, #F631BA);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
}

.about__contents__left__img__flip .back img {
  width: 7.0144rem;
  height: auto;
}

.about__contents__left__img:hover .about__contents__left__img__flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}

.about__contents__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0.75rem;
}

@media (max-width: 991.98px) {
  .about__contents__right {
    padding-left: 0;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about__contents__right {
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .about__contents__right {
    margin: 0 0.75rem;
  }
}

@media (min-width: 1299.98px) {
  .about__contents__right {
    padding-left: 2rem;
  }
}

.about__contents__right__text h6 {
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.about__contents__right__text h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.75rem;
  padding: 0 0 1.5rem 0;
}

@media (max-width: 575.98px) {
  .about__contents__right__text h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

@media (max-width: 320px) {
  .about__contents__right__text h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about__contents__right__text h2 {
    font-size: 2rem;
  }
}

.about p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

@media (max-width: 575.98px) {
  .about p {
    text-align: center;
  }
}

.faq {
  padding: 10rem 0 3rem 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .faq {
    padding: 5rem 0 5rem 0;
  }
}

.faq__intro {
  margin-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .faq__intro {
    margin-bottom: 2rem;
  }
}

.faq__intro h2 {
  font-family: "Barlow", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2rem;
  position: relative;
  text-transform: capitalize;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

@media (max-width: 991.98px) {
  .faq__intro h2 {
    font-size: 1.75rem;
  }
}

.faq__accordions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
}

@media (max-width: 575.98px) {
  .faq__accordions ul {
    gap: 1.25rem;
  }
}

.faq__accordions ul li {
  cursor: pointer;
  position: relative;
}

@media (max-width: 575.98px) {
  .faq__accordions ul li {
    border-radius: 1.5rem;
  }
}

.faq__accordions ul li::before {
  content: "";
  position: absolute;
  background: linear-gradient(40deg, rgba(161, 198, 221, 0.5), rgba(161, 198, 221, 0.225));
  -webkit-filter: blur(1);
          filter: blur(1);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1.25rem;
}

.faq__accordions ul li button {
  border-radius: 0.9375rem;
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 3.75rem;
  width: 100%;
  position: relative;
  border: none;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .faq__accordions ul li button {
    padding: 1.75rem 2.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .faq__accordions ul li button {
    padding: 1.75rem 2.5rem;
  }
}

.faq__accordions ul li button .accordions__title {
  color: #FBD852;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1.25rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

@media (max-width: 991.98px) {
  .faq__accordions ul li button .accordions__title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .faq__accordions ul li button .accordions__title {
    text-align: center;
  }
}

.faq__accordions ul li button .accordions__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem #F631BA solid;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
}

@media (max-width: 575.98px) {
  .faq__accordions ul li button .accordions__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2rem;
            flex: 0 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2rem;
    height: 2rem;
  }
}

.faq__accordions ul li button .accordions__icon::before {
  content: "";
  width: 1.125rem;
  height: 0.125rem;
  background-color: #F631BA;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 575.98px) {
  .faq__accordions ul li button .accordions__icon::before {
    width: 0.9375rem;
    height: 0.125rem;
  }
}

.faq__accordions ul li button .accordions__icon::after {
  content: "";
  width: 1.125rem;
  height: 0.125rem;
  background-color: #F631BA;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

@media (max-width: 575.98px) {
  .faq__accordions ul li button .accordions__icon::after {
    width: 0.9375rem;
    height: 0.125rem;
  }
}

.faq__accordions ul li .accordions__text {
  padding: 0 3.75rem;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  z-index: 5;
}

@media (max-width: 575.98px) {
  .faq__accordions ul li .accordions__text {
    padding: 0 2.5rem;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .faq__accordions ul li .accordions__text {
    padding: 0 2.5rem;
  }
}

.faq__accordions ul li .accordions__text P {
  color: #FFFFFF;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

@media (max-width: 991.98px) {
  .faq__accordions ul li .accordions__text P {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.faq__accordions ul .open .accordions__text {
  padding-bottom: 2rem;
  max-height: 30rem;
}

@media (max-width: 991.98px) {
  .faq__accordions ul .open .accordions__text {
    padding-bottom: 1.25rem;
  }
}

.faq__accordions ul .open .accordions__icon {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.contact {
  padding: 10rem 0 0 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .contact {
    padding: 3rem 0 0 0;
  }
}

@media (max-width: 575.98px) {
  .contact {
    text-align: center;
  }
}

.contact__contents {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 3rem 1rem;
  border-radius: 1.25rem;
}

@media (max-width: 991.98px) {
  .contact__contents {
    width: 100%;
    padding: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .contact__contents {
    width: 100%;
    padding: 4rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .contact__contents {
    padding: 4rem;
  }
}

.contact__contents__intro {
  text-align: center;
  margin-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .contact__contents__intro {
    margin-bottom: 2rem;
  }
}

.contact__contents__intro h2 {
  font-family: "Barlow", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2rem;
  position: relative;
  text-transform: capitalize;
  padding: 0 0.5rem 1rem 0.5rem;
  text-align: center;
}

@media (max-width: 991.98px) {
  .contact__contents__intro h2 {
    font-size: 1.75rem;
  }
}

.contact__contents__intro p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

@media (max-width: 991.98px) {
  .contact__contents__intro p {
    font-size: 1.25rem;
  }
}

.contact__contents__below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .contact__contents__below {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__contents::before {
  content: "";
  position: absolute;
  background: linear-gradient(40deg, rgba(161, 198, 221, 0.5) 0%, rgba(161, 198, 221, 0.225) 100%);
  -webkit-filter: blur(1);
          filter: blur(1);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
}

@media (max-width: 991.98px) {
  .contact__contents__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 2rem;
  }
}

.contact__contents__left h6 {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

@media (max-width: 991.98px) {
  .contact__contents__left h6 {
    font-size: 1.25rem;
    padding-bottom: 0.75rem;
  }
}

.contact__contents__left p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .contact__contents__left p {
    font-size: 1rem;
  }
}

@media (max-width: 1299.98px) {
  .contact__contents__left p {
    width: 100%;
  }
}

.contact__contents__left form {
  padding: 2rem 0 1rem 0;
  width: 92%;
}

@media (max-width: 991.98px) {
  .contact__contents__left form {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .contact__contents__left form {
    width: 100%;
  }
}

.contact__contents__left form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 576px) {
  .contact__contents__left form .fields {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact__contents__left form .fields input, .contact__contents__left form .fields textarea {
  width: 100%;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  color: #FFFFFF;
  padding: 0.85rem 1.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
}

@media (max-width: 991.98px) {
  .contact__contents__left form .fields input, .contact__contents__left form .fields textarea {
    width: 100%;
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .contact__contents__left form .fields input, .contact__contents__left form .fields textarea {
    width: 80%;
  }
}

.contact__contents__left form .fields textarea {
  border-radius: 1.85rem;
  padding: 0.95rem 1.5rem;
}

.contact__contents__left form .fields ::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__left form .fields :-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__left form .fields ::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.contact__contents__left form .fields ::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

@media (max-width: 991.98px) {
  .contact__contents__right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.contact__contents__right .thumb {
  width: 36.9375rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .contact__contents__right .thumb {
    width: 100%;
    padding-top: 0;
  }
}

.contact__contents__right ul {
  padding-top: 1rem;
}

.contact__contents__right ul li {
  margin: 1rem 0;
}

.contact__contents__right ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.contact__contents__right ul li img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.45rem;
}

.footer {
  position: relative;
  overflow: hidden;
  padding: 2rem 0 2rem 0;
}

@media (max-width: 991.98px) {
  .footer {
    padding: 0 0 2rem 0;
  }
}

.footer__quick {
  padding: 10rem 0 0 0;
  border-bottom: 0.0313rem solid dimgray;
}

.footer__quick ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.footer__quick ul li {
  margin: 0 1.5rem;
}

.footer__quick ul li a {
  font-family: "Comfortaa", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #FFFFFF;
}

.footer__quick img {
  width: 7.0144rem;
  height: auto;
}

.footer__links {
  padding: 2rem 0 1rem 0;
}

.footer__links .social-icons .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.footer__links .social-icons .copyright h6 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.footer__links .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links .social-icons ul li {
  margin-right: 1rem;
}

.footer__links .social-icons ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.footer__links .social-icons p {
  font-family: "Comfortaa", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: #C2C2C2;
}

.create-company-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 99999;
}

.loader-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.438);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #40d82b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.inputStyle {
  /* outline: none; */
  outline: #066aab;
  outline-color: #066aab;
  width: 100%;
  border-radius: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: #eeeeee;
  background-color: #f5f5f5;
  min-height: auto;
  height: 40px !important;
  color: black;
  font-weight: 600;
  padding-inline: 4px;
}

.react-responsive-modal-modal {
  width: 100%;
  border-radius: 10px;
  background-color: #40d82b;
  background: #40d82b;
}

.marginTop {
  margin-top: -20rem;
}

@media (max-width: 990.98px) {
  .marginTop {
    margin-top: -40rem;
  }
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 999;
}

.ReactModal__Content {
  border: none !important;
  -webkit-box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(161, 181, 223, 0), -0.1rem 0rem 0.8rem 0.1rem #cea654;
          box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(161, 181, 223, 0), -0.1rem 0rem 0.8rem 0.1rem #cea654;
  background: #0E0C31 !important;
  color: #FFFFFF !important;
  border-radius: 0 !important;
  text-align: center;
  overflow: hidden !important;
}

@media (max-width: 575.98px) {
  .ReactModal__Content {
    width: 80% !important;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .ReactModal__Content {
    width: 50% !important;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .ReactModal__Content {
    width: 40% !important;
  }
}

.ReactModal__Content img, .ReactModal__Content h2, .ReactModal__Content p {
  position: relative;
  z-index: 8;
}

.ReactModal__Content img {
  width: 6.25rem;
  height: auto;
  padding-bottom: 1.5rem;
}

.ReactModal__Content h2 {
  color: #F631BA;
  font-family: "Comfortaa", sans-serif;
}

.ReactModal__Content p {
  color: #d5e9f6;
  font-size: 0.85rem;
}

.ReactModal__Content:before {
  content: "";
  position: absolute;
  inset: 0;
  background: conic-gradient(transparent 0deg, rgba(143, 168, 255, 0.2) 100deg, transparent 150deg, transparent 230deg, rgba(191, 122, 0, 0.75) 250deg, rgba(242, 187, 90, 0.9) 280deg, #f1cb69 280deg, rgba(242, 187, 90, 0.9) 300deg, rgba(191, 122, 0, 0.75) 310deg, transparent 360deg);
  -webkit-transform: scaleX(4) scaleY(2) rotate(0deg);
          transform: scaleX(4) scaleY(2) rotate(0deg);
  -webkit-transition: 1s -webkit-transform;
  transition: 1s -webkit-transform;
  transition: 1s transform;
  transition: 1s transform, 1s -webkit-transform;
}

.ReactModal__Content:after {
  content: "";
  position: absolute;
  inset: 0.2rem;
  background-color: #0E0C31;
}

.ReactModal__Content:hover:before {
  -webkit-transform: scaleX(4) scaleY(2) rotate(-360deg);
          transform: scaleX(4) scaleY(2) rotate(-360deg);
}

.swal2-popup {
  background: #0E0C31 !important;
  color: #FFFFFF !important;
  border-radius: 0 !important;
  text-align: center;
}

@media (max-width: 575.98px) {
  .swal2-popup {
    width: 80% !important;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .swal2-popup {
    width: 50% !important;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .swal2-popup {
    width: 40% !important;
  }
}

.swal2-html-container {
  font-family: "Comfortaa", sans-serif !important;
}

.center {
  position: relative;
  width: 31.25rem;
  border-radius: 0 !important;
}

.error {
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #F631BA;
  text-align: center;
  position: relative;
  z-index: 10;
}

.message {
  padding: 0.5rem 0 0 0;
}

.input-field {
  height: 3.75rem;
  width: 100%;
  position: relative;
  font-family: "Comfortaa", sans-serif;
  border-radius: 0 !important;
}

input.email {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
  font-size: 1.25rem;
  color: rgba(242, 187, 90, 0.9);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(242, 187, 90, 0.9);
  padding: 1.25rem 0 0 0;
  background: rgba(0, 0, 0, 0);
  border-radius: 0 !important;
}

.inner-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  line-height: 3.75rem;
  font-size: 1.5rem;
  color: rgba(242, 187, 90, 0.9);
  pointer-events: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 0 !important;
}

input.email:focus ~ .inner-text,
input.email:valid ~ .inner-text {
  -webkit-transform: translateY(-1.25rem);
          transform: translateY(-1.25rem);
  font-size: 0.85rem;
  border-radius: 0 !important;
}

.button {
  position: absolute;
  right: 0;
  z-index: 2;
  font-size: 1.125rem;
  line-height: 3.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Comfortaa", sans-serif;
  color: #131313;
  font-weight: 700;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0);
}

@media (max-width: 575.98px) {
  .button {
    top: 0.75rem;
  }
}

.button img {
  width: 2.625rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .button img {
    width: 2rem;
  }
}

.send {
  opacity: 1;
}

input.email:focus ~ .button:before,
input.email:valid ~ .button:before {
  opacity: 1;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 !important;
}

input.email:invalid ~ .button:before {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 !important;
}

input.email:valid ~ .button:before {
  color: #d5e9f6 !important;
  background: #0E0C31;
  border-radius: 0 !important;
}

#check {
  display: none;
}

#check:checked ~ .button:before {
  display: none;
}

#check:checked ~ .button:after {
  opacity: 1;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#check:checked ~ .button:after {
  width: 100%;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-block {
    display: block !important;
  }
}

.py-4 {
  padding: 1.5rem 0 !important;
}

.formPopup {
  position: relative;
  z-index: 1;
  text-align: left;
}

.formPopup .inputStyle {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */